<ion-view title="SINGLUUUU">
  <!-- <ion-nav-bar class="bar bar-header bar-positive" title="{{contact.email}}"> -->
  <ion-nav-buttons>
    <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
  </ion-nav-buttons>    
  <!-- </ion-nav-bar> -->
  <ion-content class="has-header">
    <h1>{{contact.email}}</h1>
    <p>{{contact.first_name + ' ' + contact.last_name }}</p>
    <button class="button button-full button-assertive"> Delete </button>
  </ion-content>
</ion-view>
